<div class="mb-16 md:mb-40">
    <h2 class="text-white font-bold text-2xl pb-2 md:pb-4">Наши технологии</h2>
    <div class="flex flex-col md:flex-row md:gap-5">
        <div class="flex-col md:w-1/2">
            <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
                <div class="mr-3">
                    <img src="assets/images/technology1.svg" class="w-12 h-12 md:w-16 md:h-16"/>
                </div>
                <div class="w-[150%]">
                    <h2 class="font-bold text-lg md:text-xl">Распознавание речи и намерений</h2>
                    <p>
                        Используя ИИ, мы интерпретируем не только содержание, но и тонкости речи ваших клиентов, что
                        позволяет нам подбирать стратегию разговора, которая соответствуют их предпочтениям.
                    </p>
                </div>
            </div>
            <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
                <div class="mr-3">
                    <img src="assets/images/technology2.svg" class="w-12 h-12 md:w-16 md:h-16"/>
                </div>
                <div class="w-[150%]">
                    <h2 class="font-bold text-lg md:text-xl">Аналитика менеджеров с ИИ</h2>
                    <p>
                        Автоматический анализ живых диалогов операторов и лояльности клиентов в режиме реального
                        времени.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex-col md:w-1/2">
            <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
                <div class="mr-3">
                    <img src="assets/images/technology3.svg" class="w-12 h-12 md:w-16 md:h-16"/>
                </div>
                <div class="w-[150%]">
                    <h2 class="font-bold text-lg md:text-xl">Гибридный синтез речи</h2>
                    <p>
                        После тщательного обучения наш искусственный интеллект настроен на использование голосов вашей
                        команды, создавая динамически генерируемые фразы, которые обладают естественным человеческим
                        тоном.
                    </p>
                </div>
            </div>
            <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4 ">
                <div class="mr-3">
                    <img src="assets/images/technology4.svg" class="w-12 h-12 md:w-16 md:h-16"/>
                </div>
                <div class="w-[150%]">
                    <h2 class="font-bold text-lg md:text-xl">Сегментация клиентской базы с использованием ИИ</h2>
                    <p>
                        Определение оптимального продукта, модели продаж и времени коммуникации для каждого сегмента
                        клиентов
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
