<div class="px-4 md:px-40 ">
  <div class="flex justify-between items-center ">
    <div>
      <img src="assets/images/footer.svg" />
    </div>
    <div class="md:flex md:flex-col hidden">
      <p>Zhibek Zholy 135</p>
      <p>Almaty, Kazakhstan</p>
    </div>
    <div class="flex items-center gap-4">
      <span class="hidden md:flex">Обратная связь:</span>
      <a href="tel:+1(914)297-97-81" class="bg-border-color py-1 px-3 rounded-xl hidden md:flex">+7(727)312-36-96</a>
      <a href="mailto:info@stellartech.ai" class="bg-border-color py-1 px-3 rounded-xl">info@tds.media</a>
    </div>
  </div>
</div>

