<div class="mb-16 md:mb-40">
  <h2 class="font-bold text-2xl mb-4 md:mb-5">
    Как это работает
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <ng-container *ngFor="let tool of tools">
      <div class="bg-container-bg-color bg-opacity-50 mb-4 rounded-xl p-4">
        <div class="flex mb-3 md:mb-5 h-2/5 w-2/3 md:w-full mx-auto">
          <img *ngIf="tool.title !== 'Колл-Центр'" src="{{tool.image}}" class="w-full h-full object-cover" />
          <span *ngIf="tool.title === 'Колл-Центр'" class="ml-auto mr-auto" >
            <svg width="132" height="108" viewBox="0 0 132 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_b_0_1)">
                <path d="M58.8356 11.498C63.4056 9.50067 68.5944 9.50067 73.1644 11.498L94 20.6042L111.27 28.4346C117.657 31.3302 121.791 37.6938 121.863 44.7413L122 58L121.863 71.2587C121.791 78.3062 117.657 84.6698 111.27 87.5654L94 95.3958L73.1644 104.502C68.5944 106.499 63.4056 106.499 58.8356 104.502L38 95.3958L20.7297 87.5654C14.3432 84.6698 10.2093 78.3062 10.1367 71.2587L10 58L10.1367 44.7413C10.2093 37.6938 14.3432 31.3302 20.7297 28.4346L38 20.6042L58.8356 11.498Z" fill="#303030" fill-opacity="0.5"/>
                </g>
                <g filter="url(#filter1_d_0_1)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M69.3873 13.1133L93.1231 23.4651L114.182 32.9927C117.285 34.3969 119.294 37.483 119.33 40.9007L119.507 58.0833L119.33 75.2659C119.294 78.6836 117.285 81.7696 114.182 83.1739L102.317 88.542C101.532 88.8969 101.028 89.6781 101.028 90.5391C101.028 92.1316 102.673 93.1926 104.124 92.5362L115.977 87.1734C120.633 85.067 123.646 80.438 123.699 75.3114L123.877 58.0833L123.699 40.8552C123.646 35.7286 120.633 31.0996 115.977 28.9932L94.8913 19.4533L71.1282 9.08968C67.7968 7.63677 64.0143 7.63677 60.6829 9.08968L36.9199 19.4533L15.8342 28.9932C11.1786 31.0996 8.16515 35.7286 8.11218 40.8552L8.00012 51.7026C7.98756 52.918 8.96931 53.9099 10.1847 53.9099C11.3825 53.9099 12.3569 52.9455 12.3693 51.7478L12.4814 40.9007C12.5167 37.483 14.5257 34.3969 17.6294 32.9927L38.6881 23.465L62.4238 13.1133C64.6447 12.1447 67.1664 12.1447 69.3873 13.1133Z" fill="white"/>
                </g>
                <g filter="url(#filter2_d_0_1)">
                <ellipse cx="11.6207" cy="5.88534" rx="11.6207" ry="5.88534" transform="matrix(0.968607 -0.248599 0.247594 0.968864 80.0381 90.7397)" fill="white"/>
                </g>
                <g filter="url(#filter3_d_0_1)">
                <ellipse cx="44.2532" cy="58.1287" rx="8.19267" ry="8.22535" fill="white"/>
                </g>
                <g filter="url(#filter4_d_0_1)">
                <ellipse cx="88.4935" cy="58.1287" rx="8.19267" ry="8.22535" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_b_0_1" x="-2" y="-2" width="136" height="120" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feGaussianBlur in="BackgroundImageFix" stdDeviation="6"/>
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_0_1" result="shape"/>
                </filter>
                <filter id="filter1_d_0_1" x="0" y="0" width="131.877" height="100.733" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="4"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                <filter id="filter2_d_0_1" x="73.4004" y="79.1592" width="38.7021" height="28.7871" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="4"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                <filter id="filter3_d_0_1" x="16.0605" y="29.9033" width="56.3857" height="56.4507" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feMorphology radius="4" operator="erode" in="SourceAlpha" result="effect1_dropShadow_0_1"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="12"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                <filter id="filter4_d_0_1" x="60.3008" y="29.9033" width="56.3857" height="56.4507" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feMorphology radius="4" operator="erode" in="SourceAlpha" result="effect1_dropShadow_0_1"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="12"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                </defs>
                </svg>

          </span>
        </div>
        <h2 class="text-lg font-semibold mb-2 md:mb-5">{{tool.title}}</h2>
        <p>{{tool.text}}</p>
      </div>
    </ng-container>
  </div>
</div>


