<div class="mb-16 md:mb-40">
  <h2 class="font-bold text-2xl mb-10">
    Этапы работы с нами
  </h2>
  <div class="flex flex-col md:flex-row md:justify-center gap-10">
    <!-- Step 1 -->
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4 relative flex flex-col">
      <p class="text-active-tab-color mb-5">1-ый шаг</p>
      <h2 class="font-bold text-xl md:text-2xl mb-2">
        Встреча
      </h2>
      <p class="mb-4 md:mb-16 h-24 overflow-y-auto">Запланируйте встречу с нашим менеджером для обсуждения требований вашего бизнеса, наших условий, программного обеспечения и договора.</p>
      <button class="font-semibold bg-button-color bg-opacity-70 p-4 rounded-3xl px-8 w-full" (click)="openModal()">Начать сейчас</button>
    </div>

    <!-- Step 2 -->
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4 relative flex flex-col">
      <div class="absolute right-0 top-[-12%]">
        <img src="assets/images/start-work2.svg" />
      </div>
      <p class="text-active-tab-color mb-5 ">2-ой шаг</p>
      <h2 class="font-bold text-xl md:text-2xl mb-2">
        Разработка
      </h2>
      <p class="mb-4 md:mb-16 h-24 overflow-y-auto">Проведем анализ ваших существующих процессов. Или мы обзвоним более 1000 ваших клиентов по новому процессу.  Разработаем робота и после тестирования, запускаем.</p>
      <button class="font-semibold bg-container-bg-color bg-opacity-70 p-4 rounded-3xl px-8 w-full" (click)="openModal()">Получить консультацию</button>
    </div>

    <!-- Step 3 -->
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4 relative flex flex-col">
      <p class="text-active-tab-color mb-5 ">3-ий шаг</p>
      <h2 class="font-bold text-xl md:text-2xl mb-2">
        После запуска
      </h2>
      <p class="mb-4 md:mb-16 h-24 overflow-y-auto">На протяжении всего проекта наши менеджеры по работе с клиентами будут помогать вам в тестировании и доработке сценария или кампании для обеспечения оптимальной эффективности.</p>
      <button class="font-semibold bg-container-bg-color bg-opacity-50 p-3 rounded-3xl md:p-4 px-6 w-full" (click)="openModal()">Получить консультацию</button>
    </div>
  </div>
</div>
