<!--<img src="assets/images/application_bg.svg" class="absolute text-center z-[40] top-[65vh] left-0 h-[110%] "  #applicationAreas/>-->
<div class="hidden md:block md:mb-40 relative z-[41]">
  <div class="flex flex-col md:flex-row gap-5">
    <div class="flex flex-col justify-center w-full md:w-2/5 mb-6 md:mb-0 items-center">
      <img src="assets/images/Group%2096.svg" class="w-2/3 mb-3" />
      <h2 class="font-bold mb-3 ">Узнать больше</h2>
      <div>
        <button class="font-semibold text-[16px] bg-button-color bg-opacity-70 p-4 rounded-3xl px-8 " (click)="openModal()" >Получить консультацию</button>
      </div>
    </div>
    <div>
      <h2 class="font-bold text-[32px] mb-10">Где чаще всего используют?</h2>
      <div class="flex flex-col md:flex-row gap-2">
        <ul class="flex flex-col w-full md:w-1/2 align-middle">
          <li *ngFor="let sol of leftSolutions" class="flex mb-5">
            <div class="mr-3 w-10 h-10 md:w-12 md:h-12 flex-shrink-0">
              <img src="{{sol.image}}" />
            </div>
            <p>{{sol.text}}</p>
          </li>
        </ul>

        <ul class="flex flex-col w-full md:w-1/2">
          <li *ngFor="let sol of rightSolutios" class="flex mb-5">
            <div class="mr-3 w-10 h-10 md:w-12 md:h-12 flex-shrink-0">
              <img src="{{sol.image}}" class="" />
            </div>
            <p>{{sol.text}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
