<img class="absolute text-center md:z-[40]" src="assets/images/hero-bg.svg" />
<div class="bg-bg" >
  <app-header></app-header>
  <div class="px-4 md:px-40">
    <app-hero></app-hero>
    <app-solutions></app-solutions>
    <app-dialog-example></app-dialog-example>
    <app-processes></app-processes>
    <app-will-suit></app-will-suit>
    <app-start-work></app-start-work>
    <app-cases></app-cases>
    <app-system-tools></app-system-tools>
    <app-technologies></app-technologies>
    <app-qa></app-qa>
    <app-request-demo></app-request-demo>
  </div>
  <app-footer></app-footer>
</div>
