<!--<div class="relative">-->
<!--  <img class="max-w-[972px] mt-[2%] absolute inset-0 m-auto" src="assets/images/hero-bg.svg" />-->
<!--</div>-->
<div class="bg-bg">
  <app-header></app-header>
  <div class="px-4 md:px-40 ">
    <div class="max-w-[972px] mr-auto ml-auto ">
      <app-hero></app-hero>
      <app-dialog-example></app-dialog-example>
      <app-solutions></app-solutions>
      <app-processes></app-processes>
      <app-will-suit></app-will-suit>
      <app-start-work></app-start-work>
      <app-cases></app-cases>
      <app-system-tools></app-system-tools>
      <app-technologies></app-technologies>
      <app-qa></app-qa>
      <app-request-demo></app-request-demo>
    </div>
    <app-footer></app-footer>
  </div>
</div>

