<div class="bg-bg text-white flex flex-col gap-20">
  <app-header></app-header>
  <div class="px-4 md:px-40">
    <div class="mb-8 md:mb-40 max-w-[972px] mr-auto ml-auto ">
      <h2 class="pl-16 font-bold text-2xl mb-4 md:mb-5">Блог</h2>

      <ul class="flex justify-center flex-wrap gap-4 md:flex-row">
        <li *ngFor="let blog of blogs" class="mb-4 md:mb-0 md:w-[30%]">
          <div class="bg-container-bg-color rounded-xl p-4 h-full flex flex-col">
            <div class="flex-grow"> <!-- Added div for text content -->
              <h2 class="font-bold mb-2 h-36">{{blog.title}}</h2>
              <h2 class="text-active-tab-color mb-2">{{blog.created_at}}</h2>
              <h2 class="mb-2">{{getSubtitle(blog.text)}}...</h2>
            </div>
            <button class="bg-button-color w-full rounded-xl py-2" (click)="openBlog(blog.title)">Далее</button>
          </div>
        </li>
      </ul>
      <div class="flex flex-wrap gap-4" *ngIf="loading">
        <!-- Row 1 -->
        <div class="mb-4 md:mb-0 md:w-[30%] md:h-[60vh] flex flex-col">
          <div class="bg-container-bg-color rounded-xl h-full">
            <ngx-skeleton-loader count="1" appearance="custom-content"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="mb-4 md:mb-0 md:w-[30%] md:h-[60vh] flex flex-col">
          <div class="bg-container-bg-color rounded-xl h-full">
            <ngx-skeleton-loader count="1" appearance="custom-content"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="mb-4 md:mb-0 md:w-[30%] md:h-[60vh] flex flex-col">
          <div class="bg-container-bg-color rounded-xl h-full">
            <ngx-skeleton-loader count="1" appearance="custom-content"></ngx-skeleton-loader>
          </div>
        </div>
        <!-- Row 2 -->
        <div class="mb-4 md:mb-0 md:w-[30%] md:h-[60vh] flex flex-col">
          <div class="bg-container-bg-color rounded-xl h-full">
            <ngx-skeleton-loader count="1" appearance="custom-content"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="mb-4 md:mb-0 md:w-[30%] md:h-[60vh] flex flex-col">
          <div class="bg-container-bg-color rounded-xl h-full">
            <ngx-skeleton-loader count="1" appearance="custom-content"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="mb-4 md:mb-0 md:w-[30%] md:h-[60vh] flex flex-col">
          <div class="bg-container-bg-color rounded-xl h-full">
            <ngx-skeleton-loader count="1" appearance="custom-content"></ngx-skeleton-loader>
          </div>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>
